@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&display=swap');

#logo {
  height: auto;
  max-width: 100%;

}

#logo2 {
  height: 50%;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}

#slogan {
  height: 50%;
  width: 70%;
  margin-left: 21%;
  margin-top: 5%;
  font-style: italic;
  color: #34373d;
  font-family: 'Caveat', sans-serif;
  font-size: 70px;
}

/* #largeLogo {
  margin-left: 20%;

} */

/* #logo:hover {
  background-color: lightblue;
} */

* {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.btn {
  font-size: 1.2rem;
  border-radius: 1.25rem;
}

body {
  height: 100%;
  background-image: url('/public/yellowlights.jpeg');
  margin: 0;
  background-repeat: repeat;
  background-attachment: fixed;
background-size:  cover;

}

#footer {
  min-height: 67px;
  font-size: 0.5rem;
}

#headerButton {
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;

  background-size:  cover;

}

#welcomePage {
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1000px;
  margin-left: 7%;
  /* justify-content: end;
  justify-items: end;
  justify-self: end; */

}

#welcomeButtons {
  /* padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 40px; */
  width: 300px;
  height: 200px;
  margin-left: 15%;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 2rem;
}

#paymentProcess {
  padding-left: 30%;
}

#idHeader {
  max-width: 50%;
  float: left;
  color: black;
  background-color: #faa61a;
  font-size: 1.5rem;
  font-weight: 600;
}

#searchBar {
  max-width: 40%;
  float: right;
}

#searchButton {
  max-width: 20%;
  margin: auto;
}


#imgCenter {
  text-align: center;
}

#loginContainer {
  justify-content: center;
  width: 900px;
  /*font-weight: ;*/
}

#test {
  padding-bottom: 45px;
  padding-top: 25px;
  justify-content: space-evenly;
}

#test2 {
  padding-bottom: 45px;
  padding-top: 25px;
  justify-content: space-evenly;
  background: white;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
}

#test3 {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 5px;

  max-width: 18%;
  justify-content: space-evenly;
  background: white;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  backdrop-filter: blur(2rem);

}

#test4 {
  /* padding-top: 50px; */
  padding-bottom: 45px;
  min-width: 130%;
  justify-content: space-evenly;
  background: white;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
}

#headerImage {

  min-height: 350px;
  justify-content: space-evenly;
  background-image: url('/public/christmasHeader.JPG');
  ;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-position: top; */
  background-size: 100% 100%;
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
}

#headerImage2 {
  margin-top: -8%;
  min-height: 350px;
  justify-content: space-evenly;
  background-image: url('/public/christmasHeader.JPG');
  ;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-position: top; */
  background-size: 100% 100%;
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
}

#loginButtons {
  margin: auto;
}

#createAccount {
  padding-bottom: 5px;
}

/* #loginButtons:active:focus {
  color: #ffffff;
  background-color: #161617;
  border-color: #494F57;
}

#loginButtons:hover,
#loginButtons:active,
#loginButtons:focus {
  color: #ffffff !important;
  background-color: #1F2838 !important;
  border-color: #494F57 !important;
} */



#table {
  max-width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  /* justify-content: space-evenly; */
  background: white;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
}

#table2 {
  max-width: 90%;
  border-left: 50%;
  margin-top: 2%;
  /* justify-content: space-evenly; */
  background: white;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
}

#allProducts {
  margin-top: 120px;
  margin-left: -400px;
  /* min-width: 130%;
  display: flex;
  justify-content: center;
  align-items: center; */

}

#header {
  padding-top: 1%;
  padding-right: 1%;
  padding-left: 1%;
  line-height: 18px;
  word-break: break-word;
  overflow: hidden;
  /* background: orange; */

  margin-top: 5%;
}

#btnCart {
  align-items: right;
  float: right;
  margin-right: 1.5%;
  margin-top: 10%;

}

#btnCart2 {
  align-items: left;
  float: left;
  margin-left: -29%;
  margin-top: 13%;
  min-width: 20%;
}

#btnCart3 {
  align-items: left;
  float: left;
  /* align-self: center;
  align-content: center; */
  margin-top: 5%;
  min-width: 150px;
}

#btnCart4 {
  align-items: left;
  float: left;
  /* align-self: center;
  align-content: center; */
  margin-top: 10%;
  min-width: 150px;
  margin-left: -12%
}

#btnCart5 {
  align-items: left;
  float: left;
  /* align-self: center;
  align-content: center; */
  margin-top: 10%;
  min-width: 150px;
}

#btnCart6 {
  align-items: left;
  float: left;
  /* align-self: center;
  align-content: center; */
  margin-top: 8%;
  margin-left: -1%;
  min-width: 150px;
}

#signupButton {
  margin-bottom: 5px;
}

/* .circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6 {
  background: white;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3));
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: -25%;
}

.circle2 {
  bottom: 15%;
  left: -45%;
}

.circle3 {
  bottom: -85%;
  left: 0%;
}

.circle4 {
  bottom: -95%;
  left: 75%;
}

.circle5 {
  bottom: 65%;
  left: 35%;
}

.circle6 {
  bottom: -95%;
  left: -45%;
} */

h3,
.card {
  margin-top: 25px;
}

.btn {
  margin-bottom: 10px;
}

#forgotPass {
  color: gray;
  align-items: right;
}

header {
  background-color: white;
  color: black;
}

header a,
header a:hover {
  color: black;
}

.container {
  width: 900px;
  height: auto;
  margin: 0px auto;
  position: relative;
}

#loginContainer2,
#loginContainer3 {
  margin-top: 100px;
}

#loginContainer2 {
  min-width: 2000px;
  padding-top: 50px;
}

/* .btn-primary {
  background-color: yellow;
} */

/* .row {
  padding-bottom: 75px;
  padding-top: 20px;
} */



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #282c34;
  text-align: center;
  color: white;
}

.btn {
  width: 100;
  length: 100;
  margin-left: 10%;
}

.centerButton {
  text-align: center;
}

.toTheRight {
  text-align: right;
}

.navbar {
  min-height: 90px;
}
#pinCard{

  display: block;
  width: 130px;
  
}


